# REPITA OU REPLIQUE AS LINHAS DO DATAFRAME EM PANDAS PYTHON (CRIE LINHAS DUPLICADAS)

Repetir ou replicar as linhas de dataframe em pandas python (criar linhas duplicadas) pode ser feito de maneira indireta usando a função concat(). Vamos ver como

 Repita ou replique o dataframe em pandas python.
Repita ou replique o dataframe em pandas junto com index.
Com exemplos

Primeiro vamos criar um dataframe

In [2]:
import pandas as pd
import numpy as np

#Create a DataFrame
df1 = {'State':['Arizona AZ','Georgia GG','Newyork NY','Indiana IN','Florida FL'],
'Score':[62,47,55,74,31]}
df1 = pd.DataFrame(df1,columns=['State','Score'])
print(df1)

        State  Score
0  Arizona AZ     62
1  Georgia GG     47
2  Newyork NY     55
3  Indiana IN     74
4  Florida FL     31

In [3]:
''' Repeat without index '''
df_repeated = pd.concat([df1]*3, ignore_index=True)
print(df_repeated)

         State  Score
0   Arizona AZ     62
1   Georgia GG     47
2   Newyork NY     55
3   Indiana IN     74
4   Florida FL     31
5   Arizona AZ     62
6   Georgia GG     47
7   Newyork NY     55
8   Indiana IN     74
9   Florida FL     31
10  Arizona AZ     62
11  Georgia GG     47
12  Newyork NY     55
13  Indiana IN     74
14  Florida FL     31

In [4]:
''' Repeat with index'''
df_repeated_with_index = pd.concat([df1]*2)
print(df_repeated_with_index)

        State  Score
0  Arizona AZ     62
1  Georgia GG     47
2  Newyork NY     55
3  Indiana IN     74
4  Florida FL     31
0  Arizona AZ     62
1  Georgia GG     47
2  Newyork NY     55
3  Indiana IN     74
4  Florida FL     31